<ng-template [ngIf]="param">
    <span *ngIf="param.type ==='reference' && (!param.id)" class="tsd-signature-type">{{param.name}}</span>
    <a *ngIf="param.type ==='reference' && inSamePage(id, param.id)" (click)="jumpTypeAlias(param)" class="tsd-signature-type">{{param.name}}</a>
    <a *ngIf="param.id && param.type ==='reference' && !inSamePage(id, param.id)" [routerLink]="setRouter(param.id)" class="tsd-signature-type">{{param.name}}</a>
    <span *ngIf="param.type ==='intrinsic'" class="tsd-signature-type">{{param.name}}</span>
    <span *ngIf="param.type ==='reflection' && param.declaration.indexSignature" class="tsd-signature-type">object</span>
    <span *ngIf="param.type ==='reflection' && param.declaration.signatures" class="tsd-signature-type">function</span>
    <span *ngIf="param.type ==='stringLiteral'" class="tsd-signature-type">"{{param.value}}"</span>
    <span *ngIf="param.type ==='typeParameter'" class="tsd-signature-type">{{param.name}}</span>
    <ng-template [ngIf]="param.type ==='array'">
      <ng-template [ngIf]="param.elementType.elementType">
        <span *ngIf="param.elementType.elementType.type ==='typeParameter'" class="tsd-signature-type">{{param.elementType.elementType.name}}[]</span>
        <span *ngIf="param.elementType.elementType.type ==='stringLiteral'" class="tsd-signature-type">{{param.elementType.elementType.value}}[]</span>
        <span *ngIf="param.elementType.elementType.type === 'intrinsic'" class="tsd-signature-type">{{param.elementType.elementType.name}}[]</span>
        <span *ngIf="(param.elementType.elementType.type === 'reference') && (!param.elementType.id)" class="tsd-signature-type">{{param.elementType.elementType.name}}[]</span>
        <a *ngIf="(param.elementType.elementType.type === 'reference') && inSamePage(id,param.elementType.elementType.id)" (click)="jumpTypeAlias(param.elementType.elementType)" class="tsd-signature-type">{{param.elementType.elementType.name}}[]</a>
        <a *ngIf="param.elementType.elementType.id && (param.elementType.elementType.type === 'reference') && !inSamePage(id,param.elementType.elementType.id)" [routerLink]="setRouter(param.elementType.elementType.id)" class="tsd-signature-type">{{param.elementType.elementType.name}}[]</a>
      </ng-template>
      <ng-template [ngIf]="!param.elementType.elementType">
        <span *ngIf="param.elementType.type ==='typeParameter'" class="tsd-signature-type">{{param.elementType.name}}[]</span>
        <span *ngIf="param.elementType.type ==='stringLiteral'" class="tsd-signature-type">{{param.elementType.value}}[]</span>
        <span *ngIf="param.elementType.type === 'intrinsic'" class="tsd-signature-type">{{param.elementType.name}}[]</span>
        <span *ngIf="(param.elementType.type === 'reference') && (!param.elementType.id)" class="tsd-signature-type">{{param.elementType.name}}[]</span>
        <a *ngIf="(param.elementType.type === 'reference') && inSamePage(id,param.elementType.id)" (click)="jumpTypeAlias(param.elementType)" class="tsd-signature-type">{{param.elementType.name}}[]</a>
        <a *ngIf="param.elementType.id && (param.elementType.type === 'reference') && !inSamePage(id,param.elementType.id)" [routerLink]="setRouter(param.elementType.id)" class="tsd-signature-type">{{param.elementType.name}}[]</a>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="param.type ==='union'">
      <ng-template ngFor let-iter [ngForOf]="param.types" let-i="index">
        <span *ngIf="i!==0" class="tsd-signature-symbol"> | </span>
        <span *ngIf="iter.type ==='typeParameter'" class="tsd-signature-type">{{iter.name}}</span>
        <span *ngIf="iter.type ==='stringLiteral'" class="tsd-signature-type">"{{iter.value}}"</span>
        <span *ngIf="iter.type === 'intrinsic'" class="tsd-signature-type">{{iter.name}}</span>
        <ng-template [ngIf]="iter.type ==='array'">
          <ng-template [ngIf]="iter.elementType.elementType">
            <span *ngIf="iter.elementType.elementType.type ==='typeParameter'" class="tsd-signature-type">{{iter.elementType.elementType.name}}[]</span>
            <span *ngIf="iter.elementType.elementType.type ==='stringLiteral'" class="tsd-signature-type">{{iter.elementType.elementType.value}}[]</span>
            <span *ngIf="iter.elementType.elementType.type === 'intrinsic'" class="tsd-signature-type">{{iter.elementType.elementType.name}}[]</span>
            <span *ngIf="(iter.elementType.elementType.type === 'reference') && (!iter.elementType.id)" class="tsd-signature-type">{{iter.elementType.elementType.name}}[]</span>
            <a *ngIf="(iter.elementType.elementType.type === 'reference') && inSamePage(id,iter.elementType.elementType.id)" (click)="jumpTypeAlias(iter.elementType.elementType)" class="tsd-signature-type">{{iter.elementType.elementType.name}}[]</a>
            <a *ngIf="iter.elementType.elementType.id && (iter.elementType.elementType.type === 'reference') && !inSamePage(id,iter.elementType.elementType.id)" [routerLink]="setRouter(iter.elementType.elementType.id)" class="tsd-signature-type">{{iter.elementType.elementType.name}}[]</a>
          </ng-template>
          <ng-template [ngIf]="!iter.elementType.elementType">
            <span *ngIf="iter.elementType.type ==='typeParameter'" class="tsd-signature-type">{{iter.elementType.name}}[]</span>
            <span *ngIf="iter.elementType.type ==='stringLiteral'" class="tsd-signature-type">{{iter.elementType.value}}[]</span>
            <span *ngIf="iter.elementType.type === 'intrinsic'" class="tsd-signature-type">{{iter.elementType.name}}[]</span>
            <span *ngIf="(iter.elementType.type === 'reference') && (!iter.elementType.id)" class="tsd-signature-type">{{iter.elementType.name}}[]</span>
            <a *ngIf="(iter.elementType.type === 'reference') && inSamePage(id,iter.elementType.id)" (click)="jumpTypeAlias(iter.elementType)" class="tsd-signature-type">{{iter.elementType.name}}[]</a>
            <a *ngIf="iter.elementType.id && (iter.elementType.type === 'reference') && !inSamePage(id,iter.elementType.id)" [routerLink]="setRouter(iter.elementType.id)" class="tsd-signature-type">{{iter.elementType.name}}[]</a>
          </ng-template>
        </ng-template>
        <span *ngIf="(iter.type === 'reference') && (!iter.id)" class="tsd-signature-type">{{iter.name}}</span>
        <a *ngIf="(iter.type === 'reference') && inSamePage(id,iter.id)" (click)="jumpTypeAlias(iter)" class="tsd-signature-type">{{iter.name}}</a>
        <a *ngIf="iter.id && (iter.type === 'reference') && !inSamePage(id,iter.id)" [routerLink]="setRouter(iter.id)" class="tsd-signature-type">{{iter.name}}</a>
      </ng-template>
    </ng-template>
</ng-template>
