<section>
    <h4>Goal</h4>
    <span>Build an advanced standalone data visualization product line with support for charts, maps, diagrams and other
        visualization and interaction components.</span>
    <h4>References</h4>
    <ul>
        <li>Source Code: <a target="_blank"
                href="https://bitbucket.org/grapecity/dv-chart">https://bitbucket.org/grapecity/dv-chart</a></li>
        <li>Specification: <a target="_blank"
                href="https://wiki.grapecity.io/display/DAT/DataVisualization">https://wiki.grapecity.io/display/DAT/DataVisualization</a>
        </li>
        <li>Backlog: <a target="_blank"
                href="https://jira.grapecity.io/secure/RapidBoard.jspa?projectKey=DAT&amp;view=planning">https://jira.grapecity.io/secure/RapidBoard.jspa?projectKey=DAT&amp;view=planning</a>
        </li>
        <li>Sprint: <a target="_blank"
                href="https://jira.grapecity.io/secure/RapidBoard.jspa?projectKey=DAT">https://jira.grapecity.io/secure/RapidBoard.jspa?projectKey=DAT</a>
        </li>
    </ul>
</section>