<div class = "clearButton">
    <button mat-stroked-button color="primary" (click) = "deleteReport()" >Clear Report And Package</button>
</div>

<mat-tab-group (selectedTabChange) ="changeTab($event.index)">
    <mat-tab label="SVG">
        <ng-container *ngTemplateOutlet="reportList"></ng-container>
    </mat-tab>
    <mat-tab label="Canvas">
        <ng-container *ngTemplateOutlet="reportList"></ng-container>
    </mat-tab>
</mat-tab-group>

<ng-template #reportList>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Start Column -->
            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.start}} </td>
            </ng-container>

            <!-- TestResult Column -->
            <ng-container matColumnDef="testResult">
                <th mat-header-cell *matHeaderCellDef> Test Result </th>
                <td mat-cell *matCellDef="let element">
                    <div class="result success">
                        <img class="icon-img" src="http://xa-at-sys/images/success-case.png">
                        <span>{{element.testResult.success}}&nbsp;</span>
                    </div>
                    <div class="result failed">
                        <img class="icon-img" src="http://xa-at-sys/images/failed-case.png">
                        <a routerLink="{{currentRender + '/' + 'all-' + element.start}}" >{{element.testResult.failed}}&nbsp;</a>
                    </div>
                    <div class="result up">
                        <img class="icon-img" src="http://xa-at-sys/images/up.png">
                        <a routerLink="{{currentRender + '/' + 'new-' + element.start}}" >{{element.testResult.up}}&nbsp;</a>
                    </div>
                    <div class="result down">
                        <img class="icon-img" src="http://xa-at-sys/images/down.png">
                        <span>{{element.testResult.down}}</span>
                    </div>

                </td>
            </ng-container>

            <!-- End Column -->
            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef> End Time</th>
                <td mat-cell *matCellDef="let element"> {{element.end}} </td>
            </ng-container>

            <!-- Duration Column -->
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Duration </th>
                <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

</ng-template>

<ng-template #dialogTemplate>   
    <div mat-dialog-content>
      <p>{{dialogData}}</p>
    </div>
</ng-template>