<main class="mdl-layout__content documentation">
    <header>
      <app-type-doc-search [documentObject] = "documentObject"></app-type-doc-search>
      <div class="tsd-page-title">
        <div class="container">
          <ul class="tsd-breadcrumb">
            <li>
              <a routerLink="../../globals">Globals</a>
            </li>
            <li *ngFor="let item of pageArray">
              <a [routerLink]="setNavigateRouter(item)">{{item.substring(item.lastIndexOf('.')+1)}}</a>
            </li>
          </ul>
          <h1 *ngIf="enumObject">{{enumObject.kindString}} {{enumObject.name}}</h1>
        </div>
      </div>
    </header>
    <div *ngIf="enumObject" class="container container-main">
      <div class="row">
        <div class="col-8 col-content">
          <section class="tsd-panel tsd-comment">
            <div *ngIf="enumObject.comment" class="tsd-comment tsd-typography">
              <div class="lead">
                <p *ngIf="enumObject.comment.shortText">{{enumObject.comment.shortText}}</p>
              </div>
              <p *ngIf="enumObject.comment.text">{{enumObject.comment.text}}</p>
            </div>
          </section>
          <section class="tsd-panel-group tsd-index-group">
            <h2>Index</h2>
            <section class="tsd-panel tsd-index-panel">
              <div class="tsd-index-content">
                <section class="tsd-index-section ">
                  <h3>Enumeration members</h3>
                  <ul class="tsd-index-list">
                    <li *ngFor="let item of enumObject.children" class="tsd-kind-enum-member tsd-parent-kind-enum">
                      <a (click)="jumpEnum(item)" class="tsd-kind-icon">{{item.name}}</a>
                    </li>
                  </ul>
                </section>
              </div>
            </section>
          </section>
          <section class="tsd-panel-group tsd-member-group ">
            <h2>Enumeration members</h2>
            <section *ngFor="let enum of enumObject.children" class="tsd-panel tsd-member tsd-kind-enum-member tsd-parent-kind-enum">
              <a name="{{enum.name}}" id="{{enum.name}}" class="tsd-anchor"></a>
              <h3>{{enum.name}}</h3>
              <div class="tsd-signature tsd-kind-icon">{{enum.name}}<span class="tsd-signature-symbol">:</span> <span *ngIf="enum.defaultValue" class="tsd-signature-symbol"> =&nbsp;{{enum.defaultValue}}</span></div>
              <aside class="tsd-sources">
              </aside>
              <div *ngIf="enum.comment" class="tsd-comment tsd-typography">
                <div class="lead">
                  <p *ngIf="enum.comment.shortText">{{enum.comment.shortText}}</p>
                </div>
                <p *ngIf="enum.comment.text">{{enum.comment.text}}</p>
              </div>
            </section>
          </section>
        </div>
        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
          <nav class="tsd-navigation primary">
            <ul>
              <li class="globals  ">
                <a routerLink="../../globals"><em>Globals</em></a>
              </li>
            </ul>
          </nav>
          <nav class="tsd-navigation secondary menu-sticky">
            <ul class="before-current">
            </ul>
            <ul class="current">
              <li class="current tsd-kind-enum tsd-parent-kind-module">
                <a class="tsd-kind-icon">{{enumObject.name}}</a>
                <ul>
                  <li *ngFor="let enum of enumObject.children" class=" tsd-kind-enum-member tsd-parent-kind-enum">
                    <a (click)="jumpEnum(enum)" class="tsd-kind-icon">{{enum.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="after-current">
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </main>