<mat-drawer-container>
    <mat-drawer #drawer class="sidenav" fixedInViewport="true" [autoFocus]="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <app-compare-catalog [urlKey] = "urlKey"   #catalogComponent></app-compare-catalog>
    </mat-drawer>
    <mat-drawer-content>
        <app-tools-comparison #comparisonComponent (setNodeState) = "setNodeState($event.index, $event.state, $event.isExpand)" (getKeys) = "getSelectedNodes()" ></app-tools-comparison>
    </mat-drawer-content>
</mat-drawer-container>
