<div class = "button">
    <button mat-stroked-button color="primary" (click) = "selectAll()" >Select All</button>
    <button mat-stroked-button color="accent" (click) = "clearAll()">Clear</button>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" title = "{{node.matBadge}}" matTreeNodeToggle matTreeNodePadding id="treeId{{node.number}}"  [ngStyle]="{'padding-left':node.level*24+'px'}">
        <span *ngIf="node.matBadge>0" matBadge="1" matBadgeColor="warn"></span>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node" 
                      [ngStyle]="setNodeStyle(node)"
                      [checked]="node.selected"
                      (click)="clickLeafNode(node, $event.ctrlKey, $event.metaKey)">{{node.item}}
        </mat-checkbox>
  
      </mat-tree-node>
  
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" title = "{{node.matBadge}}" matTreeNodePadding id="treeId{{node.number}}"  [ngStyle]="{'padding-left':node.level*24+'px'}">
        <button mat-icon-button matTreeNodeToggle 
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox 
                      [ngStyle]="setNodeStyle(node)"
                      [checked]="node.selected"
                      (click)="clickParentNode(node, $event.ctrlKey, $event.metaKey)">{{node.item}}
        </mat-checkbox>
        <span *ngIf="node.matBadge > 0"  matBadge="{{node.matBadge}}" matBadgeColor="warn" [ngStyle]="{'margin-left': '15px'}"></span>
      </mat-tree-node>
  </mat-tree>
  
