<div class = "button">
    <button mat-stroked-button color="primary" (click) = "selectAll()" >Select</button>
    <button mat-stroked-button color="accent" (click) = "clearAll()">Clear</button>
    <button mat-stroked-button color="warn" (click) = "updateCases()">Update</button>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node"    title = "{{node.matBadge}}" matTreeNodeToggle matTreeNodePadding id="treeId{{node.number}}"  [ngStyle]="{'padding-left':node.level*24+'px'}">
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node" 
                      [checked]="node.selected"
                      (change)="clickLeafNode(node)">
        </mat-checkbox>
        <a class = "caseLink" routerLink="cases/{{node.keys.join('-')}}"  routerLinkActive="active" >{{node.item}}</a>
  
      </mat-tree-node>
  
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" title = "{{node.matBadge}}" matTreeNodePadding id="treeId{{node.number}}"  [ngStyle]="{'padding-left':node.level*24+'px'}">
        <button mat-icon-button matTreeNodeToggle 
                [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox           
                      [checked]="node.selected"
                      (change)="clickParentNode(node)">{{node.item}}
        </mat-checkbox>
      </mat-tree-node>
  </mat-tree>

  <ng-template #dialogTemplate>   
      <div mat-dialog-content>
        <p>{{dialogData}}</p>
      </div>
  </ng-template>
  
  
