<mat-accordion *ngIf="model != null">
    <mat-expansion-panel *ngFor="let catalog of model.childCatalogs()" [expanded]='isOpenedCatalog(catalog)'>
      <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
        {{catalog.title}}
      </mat-expansion-panel-header>
      <mat-nav-list>
        <ng-template ngFor let-page [ngForOf]="catalog.childCatalogs()">
          <a *ngIf="page.childUseCases().length" mat-list-item matTooltip="{{page.title}}" [matTooltipShowDelay]="1000" routerLink="{{isEditPage ? ('../' + page.keys[0] + '/edit/' + page.keys.slice(1).join('/')) : ( '../' + page.keys.join('/'))}}" routerLinkActive="active"> {{page.title}} </a>
        </ng-template>      
      </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>
