<section>
    <div class='buttonToolBar' [ngStyle]="{'left': left}">
        <!-- <div class = "jiraNum">
            <label for="bug-id">JIRA-Num:</label>
            <input placeholder="Related JIRA" [(ngModel)]="jiraId" name = "JiraId" id="bug-id">
        </div> -->
       
        <button id = "menunButton" mat-button [matMenuTriggerFor]="button" >Layout</button>
        <mat-menu #button="matMenu">
            <button (click)= "setLayout('horizontal')" mat-menu-item >
              <mat-icon>{{(layoutMenu === 'horizontal') ? 'star' : ''}}</mat-icon>
              <span>Horizontal</span>        
            </button>
            <button (click)= "setLayout('vertical')" mat-menu-item>
              <mat-icon>{{layoutMenu === 'vertical' ? 'star' : ''}}</mat-icon>
              <span>Vertical</span>   
            </button>
            <button (click)= "setLayout('auto')" mat-menu-item>
              <mat-icon >{{layoutMenu === 'auto' ? 'star' : ''}}</mat-icon>
              <span>Auto</span>   
            </button>
        </mat-menu>          


    
    </div>
    
    <div class="content">
      <div class="model pane">
  
        <mat-tab-group  (selectedTabChange)= "currentTab = $event.index" [selectedIndex] = "currentTab">
  
          <mat-tab label="DIFFERENCE">
            <ng-template matTabContent>
              <app-diff-dom  *ngIf="showDiffDom && domString!== null" [domString] = "domString" ></app-diff-dom>  
              <app-diff-canvas  *ngIf=" (!showDiffDom) && domString!== null" [content] = "domString"></app-diff-canvas>
            </ng-template>  
          </mat-tab>
          <mat-tab label="MODEL"  >   
            <ng-template matTabContent>
              <app-code-editor *ngIf="showCodeEditor" #fullModelEditor (getValue)= "fullModelOption.value = $event" [options]="fullModelOption"></app-code-editor> 
            </ng-template>                     
          </mat-tab>
        </mat-tab-group>
      </div>
      
      <div class="graph pane">
        <div class = "horizontal" *ngIf="orientation  === 'horizontal'" >
          <ng-container *ngTemplateOutlet="divPane"></ng-container>
        </div>
  
        <div class = "vertical" *ngIf="orientation  === 'vertical'" >
          <ng-container *ngTemplateOutlet="divPane"></ng-container>
        </div>    
  
      </div>
    </div>
  </section>

  <ng-template #divPane>
    <div class="first plot pane">
      <div class= "plotHeader">
        <p  class="caseState">{{firstTitle}}</p>
      </div>
      <div class = "plotArea">
        <ng-template [ngIf] = "option!= null && showFirstIframe">
            <ng-container *ngIf="date === 'empty'; else firstPlotTemplate">
                <app-plot-viewer  [model]="option.fullModel" [js]="scriptJs" [isEventView] = "false" 
                (contentChanged)="onFirstContentChange($event)"></app-plot-viewer>
            </ng-container>
            <ng-template #firstPlotTemplate>
                <app-plot-viewer-external  [url]="setIframeUrl()" [js]= "scriptJs"   [model]="option.fullModel"
                (contentChanged)="onFirstContentChange($event)"></app-plot-viewer-external>
            </ng-template>
        </ng-template>
      </div>

     
    </div>
    <div class="second plot pane">
      <div class="plotHeader">
        <p  class="caseState">{{secondTitle}}</p>
      </div>
      <div class = "plotArea">
        <ng-template [ngIf] = "option!= null">
            <app-plot-viewer *ngIf="showSecondIframe" [model]="option.fullModel" [js]="scriptJs" [isEventView] = "false" 
            (contentChanged)="onSecondContentChange($event)"></app-plot-viewer>
        </ng-template>
      </div>
     

    </div>
  </ng-template>



  