<ng-template [ngIf]="comment">
    <div class="tsd-comment tsd-typography"> 
        <div class="lead">
          <ng-template [ngIf]="comment.shortText">
            <ng-template [ngIf]="linkStartIndex(comment.shortText) > 0">
              <p>
                <ng-template ngFor let-item [ngForOf]="comment.shortText.substring(0,linkStartIndex(comment.shortText)).split('\n\n')">
                  {{item}}
                </ng-template>
                <a [routerLink]="setRouter(comment.shortText)">{{linkName}}</a>
                <ng-template ngFor let-item [ngForOf]="comment.shortText.substring(linkEndIndex(comment.shortText)).split('\n\n')">
                  {{item}}
                </ng-template>
              </p>
            </ng-template>
            <ng-template [ngIf]="!(linkStartIndex(comment.shortText) > 0)">
              <p *ngFor="let item of comment.shortText.split('\n\n')">{{item}}</p>
            </ng-template>
      
          </ng-template>
      
        </div>
      
        <ng-template [ngIf]="comment.text">
          <ng-template ngFor let-slice [ngForOf]="comment.text.split('\n\n')">
            
      
            <ng-template [ngIf]="getScliceType(slice) === 'link'">
              <p>
                {{slice.substring(0,linkStartIndex(slice))}}
                <a [routerLink]="setRouter(slice)">{{linkName}}</a>
                {{slice.substring(linkEndIndex(slice))}}
              </p>
            </ng-template>
      
            <ng-template [ngIf]="getScliceType(slice) === 'pre'">
              <p>{{slice.substring(0,getStartIndex(slice))}}</p>
              <pre>{{returnPre(slice)}}</pre>
            </ng-template>
      
            <ng-template [ngIf]="getScliceType(slice) === 'ul'">
              <p>{{slice.substring(0,ulStartIndex(slice))}}</p>
              <ul>
                <li *ngFor="let liItem of returnUl(slice).split('*')">{{liItem}}</li>
              </ul>
            
            </ng-template>
      
            <ng-template [ngIf]="getScliceType(slice) === 'code'">
              <p>{{slice.substring(0,codeStartIndex(slice))}}</p>
              <pre class="prettyprint">
                <code>
                  {{returnCode(slice)}}
                </code>
              </pre>
            </ng-template>
            <ng-template [ngIf]="getScliceType(slice) === 'text'">
              <p>{{slice}}</p>
            </ng-template>
            
      
          </ng-template>    
        </ng-template>
      
        <dl *ngIf="comment.tags" class="tsd-comment-tags">
          <ng-template ngFor let-tag [ngForOf]="comment.tags" let-i="index">
            <dt>{{tag.tag}}</dt>
            <dd>
              <p *ngFor="let param of tag.text.split('\n\n')">{{param}}</p>
            </dd>
          </ng-template>
        </dl>
    </div>

</ng-template>

