.chart {
    border: solid 2px plum;
    margin-bottom: 30px;
}

.plot {
    border: solid 2px  greenyellow;
    margin-bottom: 30px;
}

.data {
    border: solid 2px  black;
    margin-bottom: 30px;
}