<div>
    <h1>Demo List</h1>
    <ul>
      <li><a routerLink = "/demo-pipe">Pipe</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-service">Service</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-lazy">LazyModule</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-lazy">Inject Lazy Service</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-component">Verify providers in component</a></li>
    </ul>

    <ul>
        <li><a routerLink = "/demo-provide-in">Verify whether has multiple service instances when service sets the provideIn to Module</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-providers">Verify whether has multiple service instances when service used in the providers of Module</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-bar">Module Bar</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-line">Module Line</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-renderer2">Update DOM</a></li>
    </ul>
</div>







