<div>
    <h1>Demo List</h1>
    <ul>
      <li><a routerLink = "/demo-pipe">Pipe</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-service">Service</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-lazy">LazyModule</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-lazy">Inject Lazy Service</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-component">Verify providers in component</a></li>
    </ul>

    <ul>
        <li><a routerLink = "/demo-provide-in">ProvideIn - AppModule</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-providers">Providers - AppModule</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-bar">Module Bar</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-line">Module Line</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/module-plot">Module Plot</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-renderer2">Update DOM</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-ng-template">Create Component Dynamically</a></li>
    </ul>
    <ul>
        <li><a routerLink = "/demo-template-property">Use Template to define the inner HTML Template</a></li>
    </ul>

    <ul>
        <li><a routerLink = "/demo-parent">Template Syntax</a></li>
    </ul>
</div>







