.template {
    margin-left: 20px;
}

p[color=red]{
    color: red
}

p[color=green]{
    color: green
}

.hasColor {
    color: green
}

.border {
    border: solid 2px red;
}

p span {
    color : red;
    font-size: 11px
}

.class1 {
    font-style: italic;
}

.class2 {
    font-size: 17px;
}

.class3 {
    color: palevioletred;
}